@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* h1 {
    background-color: blue;
} */

.hero {
    background-image: url('https://images.unsplash.com/photo-1595664652035-0956d50e0311?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGNvd3xlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: bottom center;
    height: 60vw;
}

.hero h1 {
    color: rgb(70, 131, 131);
    text-align: center;
    padding-top: 60px;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    word-spacing: 20px;
    letter-spacing: 30px;

}

.article,
#cow-type {
    font-size: larger;
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 100px; */

    margin: 60px auto;
    /* background-color: aqua; */
    padding: 60px;

    /* border-width: 20px; */
    /* border-color: chocolate; */
    /* border-style: solid; */
    /* text-align: center; */

}

.article h2,
#cow-type h2 {
    text-align: center;
    font-size: 50px;


    border-style: solid;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 3px;
    border-color: chocolate;


    padding-bottom: 10px;
    margin-bottom: 50px;
}

.article p {
    font-size: 28px;
    line-height: 1.2em;
}

.article p .imp {
    font-size: 1.5em;
}


.cow-images {
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.cow-images div {
    min-width: 300px;

}

.cow-images img {
    width: 100%;

}